<div class="main d-flex flex-column">

  <div class="top-row d-flex gradient-bottom">
    <div class="main-article d-flex justify-content-end flex-column">

      <div class="image"
        style='background-image: url("<%= Article.most_voted.image.url %>");'>
      </div>

      <div class="content most-voted-content">
        <h2 class="text-primary d-block z-top">
          <%= Article.most_voted.title %>
        </h2>
        <span class="m-0 p-0 d-block z-top text-white">
          <%= Article.most_voted.text %>
        </span>
      </div>
    </div>

    <div class="weather-forecast ">
      <div class="image"
        style='background-image: url("https://source.unsplash.com/featured/?Winter");
        '>
      </div>
    </div>
  </div>

  <div class="bottom-row d-flex">
    <% Category.top(4).each do |category| %>
      <div class="gradient-top-bottom position-relative">

        <div class="image"
          style='background-image: url("<%= category.most_recent_article.image.url %>");'>
        </div>
        <h3 class="d-inline-block mt-3 ml-3 category-name">
          <%= link_to("#{category.name}", "categories/#{category.name}") %>
        </h3>

        <h4 class="category-title">
          <%= category.most_recent_article.title %>
        </h4>
      </div>
    <% end %>
  </div>
</div>
