<h2>Log in</h2>

<div class="container main">
  <%= form_for :article, url: articles_path do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, autocomplete: "Title", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :text %>
      <%= md_simple_editor  do %>
        <%= f.text_area :text, autocomplete: "Text", class: 'form-control' %>
      <% end %>
    </div>

    <%= f.label :Image %>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, autocomplete: "image", class: 'form-control' %>
    </div>

    <%= f.label :categories %>
    <div class="d-flex justify-content-between">
    <% Category.all.each do |category| %>
      <div>
       <%= check_box_tag "categories[]", category.id %>
       <%= category.name %>
      </div>
    <% end %>
    </div>

    <div class="form-group">
      <%= f.submit "Create Article", class: 'form-control btn btn-outline-primary' %>
    </div>

  </div>
<% end %>
