<nav class="navbar text-muted d-flex align-items-center">
  <div class="logo-container h-100">
    <%= image_tag "logo-marrom.svg", class: 'logo d-none d-lg-block'%>
  </div>

  <div class="categories">
    <%= link_to("Home", root_path, class: "link") %>
    <%= link_to("Write an article", new_article_path, class: "link") %>
    <% Category.categories_name.each do |category| %>
    <%= link_to("#{category}", category_path(category.downcase), class: "category") %>
    <% end %>
  </div>

  <ul class="user-interaction d-flex flex-row list-unstyled justify-content-center p-0 m-0">
    <% if !user_signed_in? && controller_name != 'sessions' %>
      <li class=''>
        <%= link_to('LOGIN', new_user_session_path, class: "text-decoration-none text-brown")  %>
      </li>
    <% end %>

    <% if !user_signed_in? && controller_name != 'registrations' %>
      <li class=''>
        <%= link_to('REGISTER', new_user_registration_path, class: "text-decoration-none ml-1 text-brown")  %>
      </li>
    <% end %>

    <% if user_signed_in? && controller_name != 'users' %>
      <li class=''>
          <i class="fa fa-user-circle-o text-white"></i>
          <%= content_tag(:span, current_user.name) %>
      </li>
      <% end %>

      <% if user_signed_in? %>
        <li class=''>
          <%= link_to('LOGOUT', destroy_user_session_path, method: :delete, class: "text-decoration-none text-brown", id:"log-out")  %>
        </li>
      <% end %>

    </ul>
</nav>
