<nav class="navbar text-muted d-flex align-items-center>
  <span class="logo">
    LOGO
  </span>

  <div class="categories">
    <%= link_to("Home", root_path, class: "category") %>
    <% Category.categories_name.each do |category| %>
    <%= link_to("#{category}", category_path(category.downcase), class: "category") %>
    <% end %>
  </div>

  <ul class="user-interaction d-flex flex-row list-unstyled justify-content-center p-0 m-0">
    <% if !user_signed_in? && controller_name != 'sessions' %>
      <li class=''>
        <%= link_to('login', new_user_session_path, class: "text-decoration-none mr-1")  %>
      </li>
    <% end %>

    <% if !user_signed_in? && controller_name != 'registrations' %>
      <li class=''>
        <%= link_to('register', new_user_registration_path, class: "text-decoration-none ml-1")  %>
      </li>
    <% end %>

    <% if user_signed_in? && controller_name != 'users' %>
      <li class=''>
          <i class="fa fa-user-circle-o text-white mr-1"></i>
          <%= content_tag(:span, current_user.name, class: "mr-1") %>
      </li>
      <% end %>

      <% if user_signed_in? %>
        <li class=''>
          <%= link_to('logout', destroy_user_session_path, method: :delete, class: "text-decoration-none mr-1", id:"log-out")  %>
        </li>
      <% end %>

    </ul>

</nav>

